# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
JavaRTS/.idea/**/workspace.xml
JavaRTS/.idea/**/tasks.xml
JavaRTS/.idea/dictionaries

# Sensitive or high-churn files:
JavaRTS/.idea/**/dataSources/
JavaRTS/.idea/**/dataSources.ids
JavaRTS/.idea/**/dataSources.xml
JavaRTS/.idea/**/dataSources.local.xml
JavaRTS/.idea/**/sqlDataSources.xml
JavaRTS/.idea/**/dynamic.xml
JavaRTS/.idea/**/uiDesigner.xml

# Gradle:
JavaRTS/.idea/**/gradle.xml
JavaRTS/.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
JavaRTS/.idea/**/mongoSettings.xml

## File-based project format:
JavaRTS/*.iws

## Plugin-specific files:

# IntelliJ
JavaRTS/out/

# mpeltonen/sbt-idea plugin
JavaRTS/.idea_modules/

# JIRA plugin
JavaRTS/atlassian-ide-plugin.xml

# Cursive Clojure plugin
JavaRTS/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
JavaRTS/crashlytics.properties
JavaRTS/crashlytics-build.properties
JavaRTS/fabric.properties